# purpose: defines default environment variables for any docker-compose job
#
# edit to reflect your setup, then:
#
# option 1: rename to .env 
# https://docs.docker.com/compose/env-file/
#
# option 2: append to /etc/environment , log-out and logon again
#
# docker-compose will run as user PUID with group PGID. Find these with id -u and id -g
PUID=1000
PGID=999
#
# timezone and DNS name
TZ="Europe/Amsterdam"
DOMAINNAME=example.com
LETSENCRYPT_EMAIL=someone@somewhere.com
#
# directory for .yml files and for data files
DOCKERDIR="/home/administrator/docker"
DATADIR="/home/administrator/docker/data"
#
# cloudflare account to enable dns based wildcard certificates
# use the Global API key found on your Cloudflare Profile page
CLOUDFLARE_EMAIL=someone@somewhere.com
CLOUDFLARE_API_KEY=global-api-key
#
# keycloak database config
SVC_KEYCLOAK_DB_PASSWORD=keycloak-database-password
SVC_KEYCLOAK_USER=admin-user
SVC_KEYCLOAK_PASWORD=password-for-admin-user
#
# traefik-forward-auth config
SVC_AUTHGATE_CLIENTID=client-id
SVC_AUTHGATE_SECRET=client-secret
SVC_AUTHGATE_OIDC_SEC=random-secret
